<div class="container parent">
  <h3>Parent</h3>
  <div [style.color]="'red'" [style.font-weight]="'bold'">
    Message (@Output) : {{ messageFromChild }}
  </div>
  Message2 (@ViewChild) : {{ messageFromChild2 }}
  <br />
  <b>Message3 (DataService) : {{ message }}</b>
  <br />

  <div class="mt-1">
    <input
      type="text"
      class="form-control mt-2"
      [(ngModel)]="messageFromParent"
      placeholder="Enter message"
    />
  </div>

  <app-child
    [message]="messageFromParent"
    (messageEvent)="receiveMessage($event)"
  ></app-child>

  <app-child
    [message]="messageFromParent"
    (messageEvent)="receiveMessage($event)"
  ></app-child>
</div>
<app-sibling></app-sibling>
